@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

* {
	background-color: transparent;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	scroll-behavior: smooth;
}

body {
	background-color: transparent;
	height: 100vh;
	width: 100%;

	#transparent{
		background-color: transparent;
	}

	.back {
		position: fixed;
		height: 100%;
		width: 100%;
		background-image: url("../assets/img/Back.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		opacity: 0.1;
		z-index: -1;
	}
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	.title {
		position: relative;
		justify-content: center;
		align-items: center;

		h1 {
			color: $third;
		}

		h1::before {
			content: "";
			position: absolute;
			top: 50%;
			width: 32%;
			left: 0;
			transform: translateY(-50%);
			border-radius: 5px;
			height: 0.5em;
			background-color: $primary;
			margin-right: 1%;
			margin-left: 4%;
		}

		@media only screen and (max-width: 768px) {
			h1::before {
				width: 20%;
			}
		}

		h1::after {
			content: "";
			position: absolute;
			top: 50%;
			width: 32%;
			right: 0;
			transform: translateY(-50%);
			border-radius: 5px;
			height: 0.5em;
			background-color: $primary;
			margin-right: 4%;
			margin-left: 1%;
		}

		@media only screen and (max-width: 768px) {
			h1::after {
				width: 20%;
			}
		}
	}
}