@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
* {
  background-color: transparent;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: transparent;
  height: 100vh;
  width: 100%;
}

body #transparent {
  background-color: transparent;
}

body .back {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("../assets/img/Back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.4;
  z-index: -1;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .title {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .title h1::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 20%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 5px;
  height: 0.5em;
  background-color: #f29100;
  margin-right: 1%;
  margin-left: 4%;
}

@media only screen and (min-width: 40em) {
  .container .title h1::before {
    margin-right: 40px;
    margin-left: 80px;
  }
}

.container .title h1::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 5px;
  height: 0.5em;
  background-color: #f29100;
  margin-right: 4%;
  margin-left: 1%;
}

@media only screen and (min-width: 40em) {
  .container .title h1::after {
    margin-right: 80px;
    margin-left: 40px;
  }
}

.jumbotrom {
  background-color: transparent;
  top: 70px;
  z-index: 0;
  padding-bottom: 0;
  height: 100%;
}

.jumbotrom--img {
  top: 74px;
  position: absolute;
  border-radius: 10px;
  height: calc(100% - 75px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  right: 50%;
  background-attachment: fixed;
  position: fixed;
}

.jumbotrom--img .hippo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  position: fixed;
}

.jumbotrom--img .hippo img {
  background-attachment: fixed;
  position: fixed;
  bottom: 74px;
  left: 50%;
  -webkit-transform: translateX(-49%);
          transform: translateX(-49%);
  height: 40%;
  opacity: 0.5;
}

@media only screen and (min-width: 40em) {
  .jumbotrom--img .hippo img {
    height: 75%;
    z-index: -1;
  }
}

@media only screen and (min-width: 40em) {
  .jumbotrom {
    background-color: transparent;
    top: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.waves {
  height: 10vh;
  padding: 15px 20px 15px 20px;
  padding-top: 0;
  position: relative;
  z-index: -1;
}

.waves img {
  height: 100%;
  width: 100%;
  position: relative;
  top: -5px;
}

@media only screen and (min-width: 40em) {
  .waves {
    height: 30vh;
  }
}

.about {
  top: 70px;
  background-color: transparent;
  z-index: 1;
  min-height: 50vh;
  width: calc(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.about #title {
  font-size: 50px;
  margin-top: 40px;
}

.about h1 {
  color: #f29100;
  text-align: center;
}

.about--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.about--title h3 {
  font-size: 40px;
  color: #3d5984;
  text-align: center;
}

@media only screen and (min-width: 35em) {
  .about--title h3 {
    max-height: 100px;
  }
}

@media only screen and (min-width: 35em) {
  .about #title {
    max-height: 100px;
  }
}

.about--row {
  margin-left: 15%;
  margin-right: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px 15px 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about--row .sosten img {
  height: 80px;
  padding: 5px;
}

.about--row .col {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: relative;
}

@media only screen and (min-width: 35em) {
  .about--row .col {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
}

.about--img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.about--img img {
  height: 100%;
}

.about--text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (min-width: 35em) {
  .about {
    padding-left: 50px;
    padding-right: 50px;
    top: 70px;
    background-color: transparent;
  }
}

.tt {
  background-color: transparent;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media only screen and (min-width: 35em) {
  .tt {
    background-color: transparent;
    padding-right: 110px;
    padding-left: 110px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
  }
}

.arguments {
  margin-left: 15%;
  margin-right: 15%;
  top: 70px;
  background-color: transparent;
  margin-top: 30px;
  position: relative;
}

.arguments--title {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arguments--desc {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  margin-top: 15px;
  padding: 15px 20px 15px 20px;
}

.arguments--desc p {
  font-size: 25px;
}

@media only screen and (min-width: 40em) {
  .arguments--desc p {
    margin-right: 25%;
    margin-left: 25%;
    width: 50%;
  }
}

.arguments--arguments {
  padding: 15px 20px 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.arguments--arguments .argument {
  margin-top: 15px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: relative;
}

.arguments--arguments .argument--img {
  position: relative;
  text-align: center;
  height: 250px;
  z-index: 1;
}

.arguments--arguments .argument--img img {
  background-color: transparent;
  border: 0px #f29100 solid;
  border-radius: 5px;
  height: 100%;
  -webkit-box-shadow: 2px 1px 2px 1px #5a5a5a;
          box-shadow: 2px 1px 2px 1px #5a5a5a;
}

.arguments--arguments .argument--desc {
  margin-top: 15px;
  padding: 15px 20px 15px 20px;
}

@media only screen and (min-width: 40em) {
  .arguments--arguments .argument {
    -webkit-box-flex: 1;
        -ms-flex: 1 33%;
            flex: 1 33%;
  }
  .arguments--arguments .argument--img {
    height: 350px;
  }
}

@media only screen and (min-width: 40em) {
  .arguments {
    background-color: transparent;
    top: 70px;
    z-index: 1;
  }
}

@media only screen and (max-width: 40em) {
  .arguments {
    margin-left: 0;
    margin-right: 0;
  }
  .tt {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.mascottes {
  margin-left: 15%;
  margin-right: 15%;
  background-color: transparent;
  padding-top: 70px;
  z-index: 1;
}

.mascottes--title {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mascottes--desc {
  z-index: 1;
  padding: 15px 20px 15px 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  margin-top: 15px;
}

.mascottes--desc p {
  font-size: 25px;
}

.mascottes--mascottes {
  padding: 15px 20px 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.mascottes--mascottes .mascotte {
  margin-top: 15px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: relative;
}

.mascottes--mascottes .mascotte--img {
  position: relative;
  text-align: center;
  height: 250px;
  z-index: 1;
}

.mascottes--mascottes .mascotte--img img {
  height: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 2px 1px 2px 1px #5a5a5a;
          box-shadow: 2px 1px 2px 1px #5a5a5a;
}

.mascottes--mascottes .mascotte--desc {
  margin-top: 15px;
  padding: 15px 20px 15px 20px;
  text-align: center;
}

.mascottes--mascottes .mascotte--desc .btn {
  border: none;
  background-color: #f29100;
  border-radius: 5px;
  padding: 12px 35px;
  color: white;
}

@media only screen and (min-width: 40em) {
  .mascottes--mascottes .mascotte {
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
  }
  .mascottes--mascottes .mascotte--img {
    height: 350px;
  }
}

@media only screen and (min-width: 75em) {
  .mascottes--mascottes .mascotte {
    -webkit-box-flex: 1;
        -ms-flex: 1 calc(25% - 30px);
            flex: 1 calc(25% - 30px);
  }
  .mascottes--mascottes .mascotte--img {
    height: 350px;
  }
}

@media only screen and (min-width: 40em) {
  .mascotte {
    background-color: transparent;
    top: 70px;
    z-index: 1;
  }
}

@media only screen and (max-width: 40em) {
  .mascottes {
    margin-left: 0;
    margin-right: 0;
  }
}

.navbar {
  opacity: 0.9;
  z-index: 999;
  position: fixed;
  width: 100%;
  background-color: white;
  max-height: 90px;
}

.navbar img {
  margin: 2%;
  height: 75px;
}

.navbar label .menu {
  position: absolute;
  right: 2%;
  top: 10px;
  height: 44px;
  width: 44px;
  z-index: 100;
  border-radius: 50% 50% 50% 50%;
  background-color: white;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.navbar label .hamburger {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.navbar label .hamburger:after,
.navbar label .hamburger:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}

.navbar label .hamburger:before {
  top: -10px;
}

.navbar label .hamburger:after {
  bottom: -10px;
}

.navbar label input {
  display: none;
}

.navbar label input:checked + .menu {
  -webkit-box-shadow: 0 0 0 100vw lightblue, 0 0 0 100vh lightblue;
          box-shadow: 0 0 0 100vw lightblue, 0 0 0 100vh lightblue;
  border-radius: 0;
}

.navbar label input:checked + .menu {
  background-color: lightblue;
}

.navbar label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

.navbar label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

.navbar label input:checked + .menu + ul {
  opacity: 1;
}

.navbar label ul {
  z-index: 200;
  position: absolute;
  top: 50vh;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
}

.navbar label a {
  margin-bottom: 1em;
  display: block;
  color: #000;
  text-decoration: none;
}

@media only screen and (min-width: 50em) {
  .navbar {
    display: none;
  }
}

.topbar {
  opacity: 0.8;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: white;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar--logo {
  margin-left: 20%;
}

.topbar--logo img {
  height: 70px;
}

.topbar--menu {
  margin-right: 20%;
  border-radius: 15px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.topbar--menu ul {
  width: auto;
  height: 25px;
  list-style-type: none;
}

.topbar--menu ul li {
  float: right;
  padding: 9px 17px;
}

.topbar--menu ul li a {
  font-size: 25px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.topbar--menu ul li a:hover {
  color: #f29100;
}

@media only screen and (max-width: 50em) {
  .topbar {
    display: none;
  }
}

.contatti {
  margin-left: 15%;
  margin-right: 15%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contatti .title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 40em) {
  .contatti .title {
    margin-bottom: 65px;
  }
}

.contatti .padding {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contatti .padding .mappa {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contatti .padding .mappa .card {
  border-radius: 5px;
  height: 80%;
}

@media only screen and (min-width: 40em) {
  .contatti .padding iframe {
    min-height: 00px;
    position: absolute;
    background-position: top;
  }
  .contatti .padding .mappa {
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
    min-width: 300px;
    min-height: 400px;
  }
  .contatti .padding .mappa .card {
    height: 70%;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
  }
}

.contatti .padding .form {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 6vw;
}

.contatti .padding .form .btn {
  border: none;
  background-color: #f29100;
  border-radius: 5px;
  padding: 12px 35px;
  color: white;
  margin-top: 20px;
}

.contatti .padding .form #bottone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #619fac;
}

.contatti .padding .form #bottone botton {
  font-family: 'Lato', sans-serif;
}

.contatti .padding .form input {
  background-color: #a3dbef;
  border-style: none;
  color: black;
  padding: 10px;
  margin: 10px 0px 20px 0px;
  border-radius: 5px;
}

.contatti .padding .form input ::-webkit-input-placeholder {
  color: red;
}

.contatti .padding .form input :-ms-input-placeholder {
  color: red;
}

.contatti .padding .form input ::-ms-input-placeholder {
  color: red;
}

.contatti .padding .form input ::placeholder {
  color: red;
}

.contatti .padding .form .privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contatti .padding .form .privacy .checkbox {
  margin: 20px;
}

@media only screen and (min-width: 40em) {
  .contatti .padding .form {
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
  }
}

@media only screen and (min-width: 40em) {
  .contatti {
    top: 70px;
    bottom: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}

@media only screen and (max-width: 40em) {
  .contatti {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .contatti .form {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.footer {
  margin-top: 20px;
  opacity: 0.8;
  z-index: 999;
  width: 100%;
  background-color: white;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .logo {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.footer .link {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .link a h4 {
  margin-top: 10px;
  text-decoration: none;
  color: black;
}

.footer .link a:hover {
  text-decoration: underline;
}

.footer .social {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

.footer .social .container {
  margin: 60px auto 0px auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.footer .social .container span {
  display: inline-block;
}

.footer .social .container span:before, .footer .social .container span:after {
  content: "";
  display: block;
  width: 34px;
  height: 2px;
  margin: 0px 0px 0px 2px;
}

.footer .social .effect {
  width: 100%;
}

.footer .social .effect h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 3px;
}

.footer .social .effect:nth-child(2) {
  margin-top: 50px;
}

.footer .social .effect .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .social .effect a:last-child {
  margin-right: 0px;
}

.footer .social .effect a {
  text-decoration: none !important;
  background-color: #A3DBEF;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  margin: 20px;
  font-size: 25px;
  overflow: hidden;
  position: relative;
}

.footer .social .effect a i {
  position: relative;
  z-index: 3;
}

.footer .social .effect a.fb {
  background-color: #3b5998;
  color: white;
}

.footer .social .effect a.insta {
  background-color: #bc2a8d;
  color: white;
}

.footer .social .effect.jaques a {
  width: 70px;
  height: 70px;
  -webkit-transition: border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
  transition: border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
}

.footer .social .effect.jaques a:hover {
  border-radius: 50%;
}

@media only screen and (min-width: 40em) {
  .footer {
    margin-top: 100px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .logo {
    background-size: contain;
    z-index: 1;
    margin-left: 21%;
  }
  .footer .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 10%;
  }
  .footer .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 15%;
  }
}

.checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.checkbox:active, .checkbox:checked:active {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #212324;
}

.checkbox:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #212324;
}
/*# sourceMappingURL=style.css.map */