@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: white;
  height: 100vh;
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .title {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .title h1::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 20%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 5px;
  height: 0.5em;
  background-color: #f29100;
}

.container .title h1::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 5px;
  height: 0.5em;
  background-color: #f29100;
}

.jumbotrom {
  padding: 15px;
  padding-bottom: 0;
  height: 100%;
}

.jumbotrom--img {
  border-radius: 10px;
  height: calc(100% - 75px);
  background-image: url("../assets/img/Back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotrom--img .hippo {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.jumbotrom--img .hippo img {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-49%);
          transform: translateX(-49%);
  height: 40%;
}

@media only screen and (min-width: 40em) {
  .jumbotrom--img .hippo img {
    height: 75%;
  }
}

.waves {
  height: 10vh;
  padding: 15px 65px 15px 65px;
  padding-top: 0;
  position: relative;
  z-index: -1;
}

.waves img {
  height: 100%;
  width: 100%;
  position: relative;
  top: -5px;
}

@media only screen and (min-width: 40em) {
  .waves {
    height: 30vh;
  }
}

.about {
  min-height: 70vh;
  width: calc(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.about .back {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: url(../assets/img/about/w.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  opacity: 0.6;
}

.about h1 {
  color: #f29100;
  text-align: center;
}

.about--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.about--title h3 {
  color: #a3dbef;
  text-align: center;
}

.about--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 65px 15px 65px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about--row .sosten img {
  height: 80px;
  padding: 5px;
}

.about--row .col {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: relative;
}

@media only screen and (min-width: 35em) {
  .about--row .col {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
}

.about--img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.about--img img {
  height: 100%;
}

.about--text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.tt {
  padding: 7px;
}

.arguments {
  margin-top: 30px;
  background-color: white;
  position: relative;
}

.arguments--title {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arguments--desc {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  margin-top: 15px;
  padding: 15px 65px 15px 65px;
}

.arguments--arguments {
  padding: 15px 65px 15px 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.arguments--arguments .argument {
  margin-top: 15px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: relative;
}

.arguments--arguments .argument--img {
  position: relative;
  text-align: center;
  height: 250px;
  z-index: 1;
}

.arguments--arguments .argument--img img {
  border: 0px #f29100 solid;
  border-radius: 10px;
  height: 100%;
  -webkit-box-shadow: 2px 1px 2px 1px #5a5a5a;
          box-shadow: 2px 1px 2px 1px #5a5a5a;
}

.arguments--arguments .argument--desc {
  margin-top: 15px;
  padding: 15px 65px 15px 65px;
}

@media only screen and (min-width: 40em) {
  .arguments--arguments .argument {
    -webkit-box-flex: 1;
        -ms-flex: 1 33%;
            flex: 1 33%;
  }
  .arguments--arguments .argument--img {
    height: 350px;
  }
}

.mascottes {
  background-color: white;
}

.mascottes--title {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mascottes--desc {
  padding: 15px 65px 15px 65px;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  margin-top: 15px;
}

.mascottes--mascottes {
  padding: 15px 65px 15px 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.mascottes--mascottes .mascotte {
  margin-top: 15px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: relative;
}

.mascottes--mascottes .mascotte--img {
  position: relative;
  text-align: center;
  height: 250px;
  z-index: 1;
}

.mascottes--mascottes .mascotte--img img {
  height: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 2px 1px 2px 1px #5a5a5a;
          box-shadow: 2px 1px 2px 1px #5a5a5a;
}

.mascottes--mascottes .mascotte--desc {
  margin-top: 15px;
  padding: 15px 65px 15px 65px;
  text-align: center;
}

.mascottes--mascottes .mascotte--desc .btn {
  border: none;
  background-color: #f29100;
  border-radius: 10px;
  padding: 12px 35px;
  color: white;
}

@media only screen and (min-width: 40em) {
  .mascottes--mascottes .mascotte {
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
  }
  .mascottes--mascottes .mascotte--img {
    height: 350px;
  }
}

@media only screen and (min-width: 75em) {
  .mascottes--mascottes .mascotte {
    -webkit-box-flex: 1;
        -ms-flex: 1 calc(25% - 30px);
            flex: 1 calc(25% - 30px);
  }
  .mascottes--mascottes .mascotte--img {
    height: 350px;
  }
}

.navbar {
  max-height: 75px;
}

.navbar img {
  height: 75px;
}

.navbar label .menu {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 44px;
  width: 44px;
  z-index: 100;
  border-radius: 50% 50% 50% 50%;
  background-color: white;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.navbar label .hamburger {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.navbar label .hamburger:after,
.navbar label .hamburger:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}

.navbar label .hamburger:before {
  top: -10px;
}

.navbar label .hamburger:after {
  bottom: -10px;
}

.navbar label input {
  display: none;
}

.navbar label input:checked + .menu {
  -webkit-box-shadow: 0 0 0 100vw lightblue, 0 0 0 100vh lightblue;
          box-shadow: 0 0 0 100vw lightblue, 0 0 0 100vh lightblue;
  border-radius: 0;
}

.navbar label input:checked + .menu {
  background-color: lightblue;
}

.navbar label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

.navbar label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

.navbar label input:checked + .menu + ul {
  opacity: 1;
}

.navbar label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
}

.navbar label a {
  margin-bottom: 1em;
  display: block;
  color: #000;
  text-decoration: none;
}

@media only screen and (min-width: 50em) {
  .navbar {
    display: none;
  }
}

.topbar {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar--logo img {
  height: 75px;
}

.topbar--menu {
  background-color: #f29100;
  border-radius: 15px;
  margin-left: 15px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.topbar--menu ul {
  width: auto;
  height: 25px;
  list-style-type: none;
}

.topbar--menu ul li {
  float: right;
  padding: 9px 17px;
}

.topbar--menu ul li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 50em) {
  .topbar {
    display: none;
  }
}

.footer {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer--contatti {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer--contatti .titolo {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.footer--contatti .titolo .testo_sezione {
  width: 70%;
}

@media only screen and (min-width: 40em) {
  .footer--contatti .titolo .testo_sezione {
    width: 30%;
  }
}

.footer--contatti .titolo .barre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
}

.footer--contatti .titolo .barre .barra {
  background-color: #F29100;
  border-radius: 20px;
  min-height: 15px;
  margin-top: 10px;
  margin-right: 50px;
  margin-left: 50px;
}

@media only screen and (min-width: 40em) {
  .footer--contatti .titolo .barre .barra {
    width: 80%;
    margin-right: 50px;
    margin-left: 50px;
  }
}

.footer--contatti .padding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer--contatti .padding .mappa {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer--contatti .padding .mappa .card {
  border-radius: 20px;
  height: 50%;
}

@media only screen and (min-width: 40em) {
  .footer--contatti .padding iframe {
    min-height: 00px;
    position: absolute;
    background-position: top;
  }
  .footer--contatti .padding .mappa {
    margin-top: 8px;
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
    min-width: 300px;
    min-height: 600px;
  }
  .footer--contatti .padding .mappa .card {
    height: 50%;
    padding: 0px;
    margin: 0px;
  }
}

.footer--contatti .padding .form {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer--contatti .padding .form button {
  width: 100px;
  height: 20px;
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer--contatti .padding .form input {
  background-color: #619fac;
}

.footer--contatti .padding .form .radius {
  border-radius: 20px;
  margin-bottom: 10px;
  height: 25px;
}

.footer--contatti .padding .form .layout {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
}

.footer--contatti .padding .form #richiesta {
  height: 75px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
}

.footer--contatti .padding .form #mail {
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer--contatti .padding .form #bottone {
  color: #619fac;
  cursor: pointer;
}

.footer--contatti .padding .form .privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer--contatti .padding .form .privacy .checkbox {
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer--contatti .padding .form .privacy .text {
  margin-left: 15px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 40em) {
  .footer--contatti .padding .form {
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
  }
}

@media only screen and (min-width: 40em) {
  .footer--contatti .padding {
    margin-right: 200px;
    margin-left: 150px;
  }
}

.footer--contatti .bottom {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer--contatti .bottom .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  width: 50%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.footer--contatti .bottom .link {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer--contatti .bottom .link a h4 {
  margin-top: 10px;
  text-decoration: none;
  color: black;
}

.footer--contatti .bottom .link a:hover {
  text-decoration: underline;
}

.footer--contatti .bottom .social {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer--contatti .bottom .social .container {
  margin: 60px auto 0px auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.footer--contatti .bottom .social .container span {
  display: inline-block;
}

.footer--contatti .bottom .social .container span:before, .footer--contatti .bottom .social .container span:after {
  content: "";
  display: block;
  width: 34px;
  height: 2px;
  margin: 0px 0px 0px 2px;
}

.footer--contatti .bottom .social .effect {
  width: 100%;
}

.footer--contatti .bottom .social .effect h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 3px;
}

.footer--contatti .bottom .social .effect:nth-child(2) {
  margin-top: 50px;
}

.footer--contatti .bottom .social .effect .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer--contatti .bottom .social .effect a:last-child {
  margin-right: 0px;
}

.footer--contatti .bottom .social .effect a {
  text-decoration: none !important;
  background-color: #A3DBEF;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  margin: 20px;
  font-size: 25px;
  overflow: hidden;
  position: relative;
}

.footer--contatti .bottom .social .effect a i {
  position: relative;
  z-index: 3;
}

.footer--contatti .bottom .social .effect a.fb {
  background-color: #3b5998;
  color: white;
}

.footer--contatti .bottom .social .effect a.insta {
  background-color: #bc2a8d;
  color: white;
}

.footer--contatti .bottom .social .effect.jaques a {
  width: 70px;
  height: 70px;
  -webkit-transition: border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
  transition: border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
}

.footer--contatti .bottom .social .effect.jaques a:hover {
  border-radius: 50%;
}

@media only screen and (min-width: 40em) {
  .footer--contatti .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer--contatti .bottom .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
    width: 20%;
    max-width: 250px;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 5%;
    background-size: contain;
    z-index: 1;
  }
  .footer--contatti .bottom .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .footer--contatti .bottom .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media only screen and (min-width: 40em) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .footer .sfondo {
    background-image: url(../assets/img/waves.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -1;
    top: 14%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
  }
}
/*# sourceMappingURL=style.css.map */