.about {
    top: $top;
    background-color: transparent;
    z-index: 1;
    min-height: 50vh;
    width: calc(100%);
    display: flex;
    justify-content: center;
    position: relative;

    #title {
        font-size: 50px;
        margin-top: 40px;
    }

    h1 {
        color: $primary;
        text-align: center;
    }

    &--title {
        display: flex;
        justify-content: center;
        flex: 1 100%;

        h3 {
            font-size: 40px;
            color: $third;
            text-align: center;
        }

        @media only screen and (min-width: 35em) {
            h3 {
                max-height: 100px;
            }
        }
    }

    @media only screen and (min-width: 35em) {
        #title {
            max-height: 100px;
        }
    }


    &--row {
        display: flex;
        padding: $padding;

        flex-direction: row;
        flex: 1 100%;
        flex-wrap: wrap;

        .sosten {
            img {
                height: 80px;
                padding: 5px;
            }
        }

        .col {
            flex-basis: 100%;
            position: relative;
        }

        @media only screen and (min-width: 35em) {
            .col {
                flex-basis: 33%;
            }
        }

    }

    &--img {
        flex: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;

        img {
            height: 100%;
        }
    }

    &--text {
        flex: 1;
    }
}

@media only screen and (min-width: 35em) {
    .about {
        padding-left: 50px;
        padding-right: 50px;
        top: $top;
        background-color: transparent;
    }
}

.tt {
    background-color: transparent;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media only screen and (min-width: 35em) {
    .tt {
        background-color: transparent;
        padding-right: 110px;
        padding-left: 110px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 20px;
    }
}