.about {
    top: $top;
    background-color: transparent;
    z-index: 1;
    min-height: 50vh;
    width: calc(100%);
    display: flex;
    justify-content: center;
    position: relative;

    .link {
        display: inline;
        color: $primary;
        cursor: pointer;
    }


    p {
        display: flex;
        flex-wrap: wrap;
        font-size: 20px;
    }

    .testoImg{
        display: flex;
        .testo {
            flex-wrap: wrap;
            flex-basis: 75%;
        }

        img {
            margin-right: 10%;
            display: flex;
            flex-basis: 25%;
            height: 100%;
            width: 100%;
        }
    }

    h3 {
        padding: 2%;
        font-size: 26px;
        color: $third;
        text-align: center;
    }
    
    h1 {
        font-size: 50px;
        margin-top: 80px;
        margin-bottom: 40px;
        color: $primary;
        text-align: center;
    }

    #subTitle {
        display: flex;
        justify-content: center;
        flex: 1 100%;
        margin-bottom: 80px;

        h3 {
            font-size: 40px;
            color: $third;
            text-align: center;
        }
    }

    &--row {
        margin-left: 20%;
        margin-right: 20%;

        display: flex;
        // padding: $padding;
        padding-top: 15px;
        padding-bottom: 15px;

        flex-direction: row;
        flex: 1 100%;
        flex-wrap: wrap;

        // text-align: left;
        text-align: justify;
        text-justify: inter-word;
    }


}

@media only screen and (max-width: 35em) {

    #title {
        max-height: 100px;
    }

    .col {
        flex-basis: 33%;
    }

    h3 {
        max-height: 100px;
    }
}