.about {
    width: 100%;
    &--title {
        display: flex;
        justify-content: center;
        flex: 1 100%;
        h1 {
            color: $primary;
            h1 {
                color: $secondary;
            }
        }
    }
    &--img {
        flex: 1 100%;
        padding: $padding;
        img {
            border-radius: 10px;
            width: 100%;
        }
    }
    &--text {
        flex: 1 100%;
        padding: $padding;
        margin-top: $margin;
    }

    @media only screen and (min-width: 40em) {
        &--img {
            flex: 1 50%;
            
        }
        &--text {
            flex: 1 50%;
        }
    }

}