.footer {
    height: 100vh;
    padding: 0px;
    display: flex;
    flex-direction: column;

    &--contatti {
        background-image: url(assets/img/OndaUffOK.png);
        background-repeat: no-repeat;
        flex-basis: 100%;
        background-color: transparent;
        display: flex;
        flex-wrap: wrap;

        .titolo {
            height: 50px;
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            text-align: center;

            .testo_sezione {
                width: 70%;
            }

            @media only screen and (min-width: 40em) {
                .testo_sezione {
                    width: 30%;
                }
            }

            .barre {
                display: flex;
                flex-direction: column;
                width: 25%;

                .barra {
                    background-color: #F29100;
                    border-radius: 20px;
                    min-height: 15px;
                    margin-top: 10px;
                    margin-right: 50px;
                    margin-left: 50px;
                }

                @media only screen and (min-width: 40em) {
                    .barra {
                        width: 80%;
                        margin-right: 50px;
                        margin-left: 50px;
                    }
                }
            }
        }

        .padding {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .mappa {
                flex-basis: 100%;
                display: flex;
                flex-direction: row;
                height: 200px;
                // margin-bottom: 10px;
                // margin-left: 10px;
                align-items: center;
                justify-content: center;

                .card {
                    border-radius: 20px;
                    height: 50%;
                }
            }

            @media only screen and (min-width: 40em) {
                iframe{
                    min-height: 500px;
                    position: absolute;
                    background-position: top;
                }

                .mappa {
                    margin-top: 8px;
                    flex: 1 50%;
                    min-width: 300px;
                    min-height: 600px;
                    // align-items: flex-end;

                    .card{
                        height: 79%;
                        padding: 0px;
                        margin: 0px;
                    }
                }
            }

            .form {
                flex-basis: 100%;
                display: flex;
                flex-direction: column;
                // justify-content: center;

                button {
                    width: 100px;
                    height: 20px;
                    border-radius: 20px;
                    margin-left: 20px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }

                input {
                    background-color: #619fac;
                }

                .radius {
                    border-radius: 20px;
                    margin-bottom: 10px;
                    height: 25px;
                }

                .layout {
                    margin-left: 25px;
                    margin-right: 25px;
                    margin-top: 15px;
                }

                #richiesta {
                    height: 75px;
                    margin-left: 25px;
                    margin-right: 25px;
                    margin-bottom: 10px;
                }

                #mail {
                    margin-top: 15px;
                    margin-bottom: 15px;
                }

                #bottone{
                    color: #619fac;
                    cursor: pointer;
                }

                .privacy {
                    display: flex;
                    flex-direction: row;

                    .checkbox {
                        margin-left: 25px;
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }

                    .text {
                        margin-left: 15px;
                        margin-right: 20px;
                        margin-top: 5px;
                        margin-bottom: 10px;
                    }
                }
            }

            @media only screen and (min-width: 40em) {
                .form {
                    flex: 1 50%;
                }
            }
        }

        @media only screen and (min-width: 40em) {
            .padding {
                margin-right: 200px;
                margin-left: 150px;
            }
        }

        .bottom {
            flex-basis: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            .logo {
                background: url(assets/img/Logo2.png);
                margin-right: 90px;
                margin-left: 10px;
                margin-top: 20px;
                // width: 100%;
                // height: 100px;
                // background-repeat: no-repeat;
                background-size: contain;
            }

            .link {
                margin: 20px;
                display: flex;
                text-align: center;
                justify-content: center;
            }

            .social {
                justify-content: center;
                text-align: center;
                border-radius: 20px;
                margin-bottom: 10px;
                flex-direction: column;
                // margin-top: 20px;

                .container {
                    margin: 60px auto 0px auto;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 3px;

                    span {
                        display: inline-block;

                        &:before,
                        &:after {
                            content: "";
                            display: block;
                            width: 34px;
                            height: 2px;
                            margin: 0px 0px 0px 2px;
                        }
                    }
                }

                .effect {
                    width: 100%;

                    h2 {

                        font: {
                            family: 'Playfair Display', serif;
                            weight: 400;
                            size: 25px;
                        }

                        letter-spacing: 3px;
                    }

                    &:nth-child(2) {
                        margin-top: 50px;
                    }

                    .buttons {
                        display: flex;
                        justify-content: center;
                        // background-color: #A3DBEF;
                    }

                    a {

                        &:last-child {
                            margin-right: 0px;
                        }
                    }
                }


                .effect {

                    a {
                        text-decoration: none !important;
                        background-color: #A3DBEF;
                        width: 60px;
                        height: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;
                        margin: 20px;
                        font-size: 25px;
                        overflow: hidden;
                        position: relative;

                        i {
                            position: relative;
                            z-index: 3;
                        }

                        &.fb {
                            background-color: #3b5998;
                            color: white;
                        }

                        &.insta {
                            background-color: #bc2a8d;
                            color: white;
                        }
                    }
                }

                .effect.jaques {

                    a {
                        width: 70px;
                        height: 70px;
                        transition: border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;

                        &:hover {
                            border-radius: 50%;
                        }
                    }
                }
            }
        }

        @media only screen and (min-width: 40em) {
            .bottom {
                display: flex;
                flex-direction: row;

                .logo {
                    flex: 1;
                }

                .link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 1;
                }

                .social {
                    flex: 1;
                }
            }
        }
    }
}