.footer {
    height: 100vh;

    &--contatti {
        flex-basis: 100%;
        height: 40%;
        display: flex;
        flex-wrap: wrap;

        .titolo {
            height: 50px;
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            text-align: center;

            .testo_sezione {
                width: 50%;
            }

            .barre {
                display: flex;
                flex-direction: column;
                width: 25%;

                .barra {
                    background-color: #F29100;
                    border-radius: 20px;
                }
            }
        }

        .mappa {
            flex-basis: 100%;
            display: flex;
            margin-bottom: 10px;
            align-items: center;
            justify-content: center;

            .card {
                border-radius: 20px;
                height: 80%;
            }
        }

        @media only screen and (min-width: 40em) {
            .mappa {
                flex: 1 50%;
                align-items: flex-end;
            }
        }

        .form {
            flex-basis: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            input {
                background-color: #A3DBEF;
            }

            .radius {
                border-radius: 20px;
                margin-bottom: 10px;
                height: 25px;
            }

            .layout {
                margin-left: 25px;
                margin-right: 25px;
            }

            #richiesta {
                height: 75px;
                margin-left: 25px;
                margin-right: 25px;
                margin-bottom: 10px;
            }

            .privacy {
                display: flex;
                flex-direction: row;

                .checkbox {
                    margin-left: 25px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }

                .text {
                    margin-left: 15px;
                    margin-top: 5px;
                    margin-bottom: 10px;
                }
            }
        }

        @media only screen and (min-width: 40em) {
            .form {
                flex: 1 50%;
            }
        }
    }

    &--sostenibiità {
        flex-basis: 100%;
        height: 40%;
        display: flex;
        flex-wrap: wrap;
    }

    &--logo {
        flex-basis: 100%;
        height: 20%;
        display: flex;
        flex-wrap: wrap;
    }
}